.Section01_wrap {
    position: relative;

    img {
        width: 12vw;
        min-width: 150px;
        margin-bottom: 30px;
    }

    h2 {
        text-align: center;
        font-size: 20px;
        line-height: 130%;
    }

    .arrow {
        position: absolute;
        bottom: 30px;
        width: 50px;
        min-width: 50px;
    }
}

.Section02_wrap {
    background-color: var(--black);
    font-family: var(--subfont);
    padding: 10vw 8vw;
    align-items: flex-start;
    color: var(--white);

    h2 {
        font-size: 6vw;
        margin-bottom: 110px;
    }

    .introduce_wrap {
        >div {
            margin-bottom: 67px;

            h3 {
                font-size: 30px;
                margin-bottom: 20px;
            }

            p {
                display: flex;
                align-items: center;
                list-style-type: disc;
                font-size: 15px;
                line-height: 150%;
            }

            p::before {
                content: "â—";
                margin-right: 8px;
                color: var(--white);
                font-size: 0.3em;
            }
        }
    }
}

.Section03_wrap {
    padding: 10vw 8vw;

    >.top {
        text-align: center;
        margin-bottom: 60px;

        h2 {
            font-size: 3vw;
            font-weight: 900;
            line-height: 130%;
            margin-bottom: 34px;
        }

        p {
            font-size: 20px;
            line-height: 130%;
            color: var(--gray);
        }
    }

    >.bottom {
        div {
            font-size: 2.2vw;
        }

        .top {
            display: flex;
            margin-bottom: 20px;

            div {
                min-width: 200px;
                min-height: 200px;
                width: 20vw;
                height: 20vw;
                margin: 0 5px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: var(--subfont);
                color: var(--white);
            }

            .left {
                border-radius: 50px;
                background-color: var(--sub01);
            }

            .right {
                border-radius: 500px 500px 0 500px;
                background-color: var(--sub02);
            }

            div:hover {
                background-color: var(--main);
                transition: all 0.4s;
            }
        }

        .bottom {
            display: flex;

            .left {
                margin: 0 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                div {
                    min-width: 200px;
                    min-height: 200px;
                    width: 20vw;
                    height: 20vw;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: var(--subfont);
                    color: var(--white);
                    text-align: center;
                }

                .top {
                    border-radius: 500px 500px 500px 0;
                    background-color: var(--sub03);
                }

                .bottom {
                    border-radius: 10px;
                    background-color: var(--sub04);
                }

                div:hover {
                    background-color: var(--main);
                    transition: all 0.4s;
                }
            }

            .right {
                width: 100%;
                margin: 0 10px;
                border-radius: 20px;
                background-color: var(--sub05);
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: var(--subfont);
                color: var(--white);
                font-size: 1.5vw;
            }

            .right:hover {
                background-color: var(--main);
                transition: all 0.4s;
            }
        }
    }
}

.Section04_wrap {
    position: relative;

    video {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    h2 {
        position: absolute;
        font-size: 3vw;
        color: var(--white);
        font-weight: 900;
        text-align: center;
        line-height: 120%;
    }
}

@media (max-width: 600px) {
    .Section02_wrap {
        .introduce_wrap {
            >div {
                margin-bottom: 60px;

                h3 {
                    font-size: 20px;
                }

                p {
                    font-size: 13px;
                }

            }
        }
    }

    .Section03_wrap {
        padding-top: 20vw;
        padding-bottom: 20vw;

        >.top {
            h2 {
                font-size: 20px;
            }

            p {
                font-size: 16px;
            }
        }
    }

    .Section04_wrap {
        position: relative;

        h2 {
            font-size: 30px;
        }
    }
}

@media (max-width: 450px) {
    .Section01_wrap {
        img {
            width: 12vw;
            min-width: 100px;
        }

        h2 {
            font-size: 16px;
        }

        .arrow {
            width: 30px;
            min-width: 30px;
        }
    }

    .Section02_wrap {
        padding-top: 40vw;
        padding-bottom: 30vw;

        h2 {
            margin-bottom: 50px;
        }

        .introduce_wrap {
            >div {
                margin-bottom: 40px;

                h3 {
                    font-size: 18px;
                }

                p {
                    font-size: 13px;
                }

            }
        }
    }

    .Section03_wrap {
        padding-top: 50vw;
        padding-bottom: 40vw;

        >.top {
            h2 {
                margin-bottom: 10px;
            }

            p {
                font-size: 15px;
            }
        }

        >.bottom {
            .top {
                display: flex;
                margin-bottom: 20px;

                div {
                    min-width: 150px;
                    min-height: 150px;
                    width: 20vw;
                    height: 20vw;
                    margin: 0 5px;
                    cursor: pointer;
                }

                .left {
                    border-radius: 50px;
                    background-color: var(--sub01);
                }

                .right {
                    border-radius: 500px 500px 0 500px;
                    background-color: var(--sub02);
                }
            }

            .bottom {
                .left {
                    div {
                        min-width: 150px;
                        min-height: 150px;
                        width: 150px;
                        height: 150px;
                        cursor: pointer;
                    }

                    .top {
                        border-radius: 500px 500px 500px 0;
                        background-color: var(--sub03);
                    }

                    .bottom {
                        border-radius: 10px;
                        background-color: var(--sub04);
                    }
                }

                .right {
                    width: 100%;
                    margin: 0 5px;
                    border-radius: 20px;
                    background-color: var(--sub05);
                    cursor: pointer;
                }
            }
        }
    }

    .Section04_wrap {
        h2 {
            font-size: 25px;
            line-height: 150%;
        }
    }
}