button,
a {
    cursor: pointer;
    background-color: var(--none);
}

body {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin: 0 auto;
    background-color: var(--white);
    color: var(--black);
}

#root {
    width: 100%;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

.none {
    display: none !important;
}

input {
    outline: none;
}